# Ignore everything in the root
/*


# except those
!assets/
!assets/*

!data/
!data/*

!dist/
!dist/*

!inc/
!inc/*

!src/
!src/*

!scss/
!scss/*


!index.php
!home.html
!.htacces
!.gitignore
!vite.config.js
!package.json












