 
 main{
    display: flex;
    flex-direction: column;
 }
 .jet-section, #header, #footer{
    position: relative;
    div{
        z-index: 2;
    }
    .img-bg{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
 }
