$b-dark:rgba(0, 0, 0, .4);
$b-light:rgba(255, 255, 255, .4);

.b-d{
  border: 1px solid rgba(0, 0, 0,.3);
}

.bb-d{
  border-bottom: 1px solid $b-dark;
}
.bt-d{
  border-top: 1px solid $b-dark;
}
.br-d{
  border-right: 1px solid $b-dark;
}
.bl-d{
  border-left: 1px solid $b-dark;
}


.b-l{
  border: 1px solid $b-light;
}
.bb-l{
  border-bottom: 1px solid $b-light;
}
.bt-l{
  border-top: 1px solid $b-light;
}
.br-l{
  border-right: 1px solid $b-light;
}
.bl-l{
  border-left: 1px solid $b-light;
}

.j-border-rounded{
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.j-border-round{
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}
.j-border-round-big{
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
}

.bs-1 {
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.08);
  -moz-box-shadow: 0 5px 15px rgba(0,0,0,.08);
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.bs-2 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
 
.bs-3 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
}


.bs-4 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bs-5{
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.bs-6 { 
  -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.bs-7 {
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
[class^="r-"]{
  overflow: hidden!important;
}
.br-0{-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0}
.br-1{-webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px}
.br-2{-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px}
.br-3{-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px}
.br-4{-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px}
.br-5{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px}
.br-6{-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px}
.br-7{-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px}
.br-8{-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px}
.br-9{-webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px}
.br-10{-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px}
.br-11{-webkit-border-radius: 11px; -moz-border-radius: 11px; border-radius: 11px}
.br-12{-webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px}
.br-13{-webkit-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px}
.br-14{-webkit-border-radius: 14px; -moz-border-radius: 14px; border-radius: 14px}
.br-15{-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px}
.br-16{-webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px}
.br-17{-webkit-border-radius: 17px; -moz-border-radius: 17px; border-radius: 17px}
.br-18{-webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px}
.br-19{-webkit-border-radius: 19px; -moz-border-radius: 19px; border-radius: 19px}
.br-20{-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px}
.br-21{-webkit-border-radius: 21px; -moz-border-radius: 21px; border-radius: 21px}
.br-22{-webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px}
.br-23{-webkit-border-radius: 23px; -moz-border-radius: 23px; border-radius: 23px}
.br-24{-webkit-border-radius: 24px; -moz-border-radius: 24px; border-radius: 24px}
.br-25{-webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px}
.br-26{-webkit-border-radius: 26px; -moz-border-radius: 26px; border-radius: 26px}
.br-27{-webkit-border-radius: 27px; -moz-border-radius: 27px; border-radius: 27px}
.br-28{-webkit-border-radius: 28px; -moz-border-radius: 28px; border-radius: 28px}
.br-29{-webkit-border-radius: 29px; -moz-border-radius: 29px; border-radius: 29px}
.br-30{-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px}
.br-31{-webkit-border-radius: 31px; -moz-border-radius: 31px; border-radius: 31px}
.br-32{-webkit-border-radius: 32px; -moz-border-radius: 32px; border-radius: 32px}
.br-33{-webkit-border-radius: 33px; -moz-border-radius: 33px; border-radius: 33px}
.br-34{-webkit-border-radius: 34px; -moz-border-radius: 34px; border-radius: 34px}
.br-35{-webkit-border-radius: 35px; -moz-border-radius: 35px; border-radius: 35px}
.br-36{-webkit-border-radius: 36px; -moz-border-radius: 36px; border-radius: 36px}
.br-37{-webkit-border-radius: 37px; -moz-border-radius: 37px; border-radius: 37px}
.br-38{-webkit-border-radius: 38px; -moz-border-radius: 38px; border-radius: 38px}
.br-39{-webkit-border-radius: 39px; -moz-border-radius: 39px; border-radius: 39px}
.br-40{-webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px}
.br-41{-webkit-border-radius: 41px; -moz-border-radius: 41px; border-radius: 41px}
.br-42{-webkit-border-radius: 42px; -moz-border-radius: 42px; border-radius: 42px}
.br-43{-webkit-border-radius: 43px; -moz-border-radius: 43px; border-radius: 43px}
.br-44{-webkit-border-radius: 44px; -moz-border-radius: 44px; border-radius: 44px}
.br-45{-webkit-border-radius: 45px; -moz-border-radius: 45px; border-radius: 45px}
.br-46{-webkit-border-radius: 46px; -moz-border-radius: 46px; border-radius: 46px}
.br-47{-webkit-border-radius: 47px; -moz-border-radius: 47px; border-radius: 47px}
.br-48{-webkit-border-radius: 48px; -moz-border-radius: 48px; border-radius: 48px}
.br-49{-webkit-border-radius: 49px; -moz-border-radius: 49px; border-radius: 49px}
.br-50{-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px}