$col: rgba(0,0,0,.5);
.note-blue{
    background: #e1f5fe;
    color:#01579b;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.note-red{
    background: #ffebee;
    color:#b71c1c;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.note-green{
    background: #e8f5e9;
    color:#1b5e20;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.border-bottom{
    border-bottom: 1px solid $col;
    margin-bottom: 1rem;
}

.box-bordered{
    border: 1px solid $col;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap:0.5rem;

}
.box-small{
    border: 1px solid $col;
    background: rgba(0,0,0,.1);
    padding: 3px 1rem;
    font-size: .8rem;
    margin: 0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

[class^='minibox-']{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;

}
.minibox-default{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #333;
    color:#4444;
}
.minibox-light{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #eee;
    color:#fff;
}
.minibox-red{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #ffcccc;
    color: #ff0000;
}
.minibox-blue{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #ccccff;
    color: #0000ff;
}
.minibox-green{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #ccffcc;
    color: #00ff00;
}
.minibox-yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #ffffcc;
    color: #ffff00;
}