//backgrounds
.bg-transparent{background: transparent!important;}
.bg-deep-blue {background-color: #0000ff!important;}
.bg-deep-blue-l5 {background-color: #ccccff!important;}
.bg-deep-blue-l4 {background-color: #9999ff!important;}
.bg-deep-blue-l3 {background-color: #6666ff!important;}
.bg-deep-blue-l2 {background-color: #3333ff!important;}
.bg-deep-blue-l1 {background-color: #1a1aff!important;}
.bg-deep-blue-d1 {background-color: #0000cc!important;}
.bg-deep-blue-d2 {background-color: #000099!important;}
.bg-deep-blue-d3 {background-color: #000066!important;}
.bg-deep-blue-d4 {background-color: #000033!important;}
.bg-deep-blue-d5 {background-color: #00001a!important;}
.bg-blue {background-color: #1e87f0!important;}
.bg-blue-l5 {background-color: #e7f2fd!important;}
.bg-blue-l4 {background-color: #cfe6fc!important;}
.bg-blue-l3 {background-color: #9fccf9!important;}
.bg-blue-l2 {background-color: #6fb3f6!important;}
.bg-blue-l1 {background-color: #3f99f3!important;}
.bg-blue-d1 {background-color: #0c66c0!important;}
.bg-blue-d2 {background-color: #094d90!important;}
.bg-blue-d3 {background-color: #063360!important;}
.bg-blue-d4 {background-color: #031a30!important;}
.bg-blue-d5 {background-color: #020d18!important;}
.bg-light-blue {background-color: #03befc!important;}
.bg-light-blue-l5 {background-color: #e6f8ff!important;}
.bg-light-blue-l4 {background-color: #cdf2fe!important;}
.bg-light-blue-l3 {background-color: #b3ebfe!important;}
.bg-light-blue-l2 {background-color: #68d8fd!important;}
.bg-light-blue-l1 {background-color: #0298ca!important;}
.bg-light-blue-d1 {background-color: #0298ca!important;}
.bg-light-blue-d2 {background-color: #027297!important;}
.bg-light-blue-d3 {background-color: #014c65!important;}
.bg-light-blue-d4 {background-color: #012632!important;}
.bg-light-blue-d5 {background-color: #001319!important;}
.bg-red {background-color: #ff0000!important;}
.bg-red-l5 {background-color: #ffe6e6!important;}
.bg-red-l4 {background-color: #ffcccc!important;}
.bg-red-l3 {background-color: #ff9999!important;}
.bg-red-l2 {background-color: #ff6666!important;}
.bg-red-l1 {background-color: #ff3333!important;}
.bg-red-d1 {background-color: #cc0000!important;}
.bg-red-d2 {background-color: #990000!important;}
.bg-red-d3 {background-color: #660000!important;}
.bg-red-d4 {background-color: #330000!important;}
.bg-red-d5 {background-color: #1a0000!important;}
.bg-pink { background-color: #e91e63!important; }
.bg-pink-l5 { background-color: #fce4ec!important; }
.bg-pink-l4 { background-color: #f8bbd0!important; }
.bg-pink-l3 { background-color: #f48fb1!important; }
.bg-pink-l2 { background-color: #f06292!important; }
.bg-pink-l1 { background-color: #ec407a!important; }
.bg-pink-d1 { background-color: #d81b60!important; }
.bg-pink-d2 { background-color: #c2185b!important; }
.bg-pink-d3 { background-color: #ad1457!important; }
.bg-pink-d4 { background-color: #880e4f!important; }
.bg-pink-d5 { background-color: #450728!important; }
.bg-purple { background-color: #9c27b0!important; }
.bg-purple-l5 { background-color: #f3e5f5!important; }
.bg-purple-l4 { background-color: #e1bee7!important; }
.bg-purple-l3 { background-color: #ce93d8!important; }
.bg-purple-l2 { background-color: #ba68c8!important; }
.bg-purple-l1 { background-color: #ab47bc!important; }
.bg-purple-d1 { background-color: #8e24aa!important; }
.bg-purple-d2 { background-color: #7b1fa2!important; }
.bg-purple-d3 { background-color: #6a1b9a!important; }
.bg-purple-d4 { background-color: #4a148c!important; }
.bg-purple-d5 { background-color: #2f0d59!important; }
.bg-deep-purple { background-color: #673ab7!important; }
.bg-deep-purple-l5 { background-color: #ede7f6!important; }
.bg-deep-purple-l4 { background-color: #d1c4e9!important; }
.bg-deep-purple-l3 { background-color: #b39ddb!important; }
.bg-deep-purple-l2 { background-color: #9575cd!important; }
.bg-deep-purple-l1 { background-color: #7e57c2!important; }
.bg-deep-purple-d1 { background-color: #5e35b1!important; }
.bg-deep-purple-d2 { background-color: #512da8!important; }
.bg-deep-purple-d3 { background-color: #4527a0!important; }
.bg-deep-purple-d4 { background-color: #311b92!important; }
.bg-deep-purple-d5 { background-color: #1d1056!important; }
.bg-indigo { background-color: #3f51b5!important; }
.bg-indigo-l5 { background-color: #e8eaf6!important; }
.bg-indigo-l4 { background-color: #c5cae9!important; }
.bg-indigo-l3 { background-color: #9fa8da!important; }
.bg-indigo-l2 { background-color: #7986cb!important; }
.bg-indigo-l1 { background-color: #5c6bc0!important; }
.bg-indigo-d1 { background-color: #3949ab!important; }
.bg-indigo-d2 { background-color: #303f9f!important; }
.bg-indigo-d3 { background-color: #283593!important; }
.bg-indigo-d4 { background-color: #1a237e!important; }
.bg-indigo-d5 { background-color: #0d113f!important; }
.bg-cyan { background-color: #00bcd4!important; }
.bg-cyan-l5 { background-color: #e0f7fa!important; }
.bg-cyan-l4 { background-color: #b2ebf2!important; }
.bg-cyan-l3 { background-color: #80deea!important; }
.bg-cyan-l2 { background-color: #4dd0e1!important; }
.bg-cyan-l1 { background-color: #26c6da!important; }
.bg-cyan-d1 { background-color: #00acc1!important; }
.bg-cyan-d2 { background-color: #0097a7!important; }
.bg-cyan-d3 { background-color: #00838f!important; }
.bg-cyan-d4 { background-color: #006064!important; }
.bg-cyan-d5 { background-color: #003133!important; }
.bg-teal { background-color: #009688!important; }
.bg-teal-l5 { background-color: #e0f2f1!important; }
.bg-teal-l4 { background-color: #b2dfdb!important; }
.bg-teal-l3 { background-color: #80cbc4!important; }
.bg-teal-l2 { background-color: #4db6ac!important; }
.bg-teal-l1 { background-color: #26a69a!important; }
.bg-teal-d1 { background-color: #00897b!important; }
.bg-teal-d2 { background-color: #00796b!important; }
.bg-teal-d3 { background-color: #00695c!important; }
.bg-teal-d4 { background-color: #004d40!important; }
.bg-teal-d5 { background-color: #00332b!important; }
.bg-green { background-color: #4CAF50!important; }
.bg-green-l5 { background-color: #E8F5E9!important; }
.bg-green-l4 { background-color: #C8E6C9!important; }
.bg-green-l3 { background-color: #A5D6A7!important; }
.bg-green-l2 { background-color: #81C784!important; }
.bg-green-l1 { background-color: #66BB6A!important; }
.bg-green-d1 { background-color: #43A047!important; }
.bg-green-d2 { background-color: #388E3C!important; }
.bg-green-d3 { background-color: #2E7D32!important; }
.bg-green-d4 { background-color: #1B5E20!important; }
.bg-green-d5 { background-color: #0b280d!important; }
.bg-light-green { background-color: #8bc34a!important; }
.bg-light-green-l5 { background-color: #f1f8e9!important; }
.bg-light-green-l4 { background-color: #dcedc8!important; }
.bg-light-green-l3 { background-color: #c5e1a5!important; }
.bg-light-green-l2 { background-color: #aed581!important; }
.bg-light-green-l1 { background-color: #9ccc65!important; }
.bg-light-green-d1 { background-color: #7cb342!important; }
.bg-light-green-d2 { background-color: #689f38!important; }
.bg-light-green-d3 { background-color: #558b2f!important; }
.bg-light-green-d4 { background-color: #33691e!important; }
.bg-light-green-d5 { background-color: #1d3c11!important; }
.bg-lime { background-color: #cddc39!important; }
.bg-lime-l5 { background-color: #f9fbe7!important; }
.bg-lime-l4 { background-color: #f0f4c3!important; }
.bg-lime-l3 { background-color: #e6ee9c!important; }
.bg-lime-l2 { background-color: #dce775!important; }
.bg-lime-l1 { background-color: #d4e157!important; }
.bg-lime-d1 { background-color: #c0ca33!important; }
.bg-lime-d2 { background-color: #afb42b!important; }
.bg-lime-d3 { background-color: #9e9d24!important; }
.bg-lime-d4 { background-color: #827717!important; }
.bg-lime-d5 { background-color: #57500f!important; }
.bg-yellow { background-color: #ffeb3b!important; }
.bg-yellow-l5 { background-color: #fffde7!important; }
.bg-yellow-l4 { background-color: #fff9c4!important; }
.bg-yellow-l3 { background-color: #fff59d!important; }
.bg-yellow-l2 { background-color: #fff176!important; }
.bg-yellow-l1 { background-color: #ffee58!important; }
.bg-yellow-d1 { background-color: #fdd835!important; }
.bg-yellow-d2 { background-color: #fbc02d!important; }
.bg-yellow-d3 { background-color: #f9a825!important; }
.bg-yellow-d4 { background-color: #f57f17!important; }
.bg-yellow-d5 { background-color: #c46008!important; }
.bg-amber { background-color: #ffc107!important; }
.bg-amber-l5 { background-color: #fff8e1!important; }
.bg-amber-l4 { background-color: #ffecb3!important; }
.bg-amber-l3 { background-color: #ffe082!important; }
.bg-amber-l2 { background-color: #ffd54f!important; }
.bg-amber-l1 { background-color: #ffca28!important; }
.bg-amber-d1 { background-color: #ffb300!important; }
.bg-amber-d2 { background-color: #ffa000!important; }
.bg-amber-d3 { background-color: #ff8f00!important; }
.bg-amber-d4 { background-color: #ff6f00!important; }
.bg-amber-d5 { background-color: #b34d00!important; }
.bg-orange { background-color: #ff9800!important; }
.bg-orange-l5 { background-color: #fff3e0!important; }
.bg-orange-l4 { background-color: #ffe0b2!important; }
.bg-orange-l3 { background-color: #ffcc80!important; }
.bg-orange-l2 { background-color: #ffb74d!important; }
.bg-orange-l1 { background-color: #ffa726!important; }
.bg-orange-d1 { background-color: #fb8c00!important; }
.bg-orange-d2 { background-color: #f57c00!important; }
.bg-orange-d3 { background-color: #ef6c00!important; }
.bg-orange-d4 { background-color: #e65100!important; }
.bg-orange-d5 { background-color: #993600!important; }
.bg-deep-orange { background-color: #ff5722!important; }
.bg-deep-orange-l5 { background-color: #fbe9e7!important; }
.bg-deep-orange-l4 { background-color: #ffccbc!important; }
.bg-deep-orange-l3 { background-color: #ffab91!important; }
.bg-deep-orange-l2 { background-color: #ff8a65!important; }
.bg-deep-orange-l1 { background-color: #ff7043!important; }
.bg-deep-orange-d1 { background-color: #f4511e!important; }
.bg-deep-orange-d2 { background-color: #e64a19!important; }
.bg-deep-orange-d3 { background-color: #d84315!important; }
.bg-deep-orange-d4 { background-color: #bf360c!important; }
.bg-deep-orange-d5 { background-color: #782208!important; }
.bg-brown { background-color: #795548!important; }
.bg-brown-l5 { background-color: #efebe9!important; }
.bg-brown-l4 { background-color: #d7ccc8!important; }
.bg-brown-l3 { background-color: #bcaaa4!important; }
.bg-brown-l2 { background-color: #a1887f!important; }
.bg-brown-l1 { background-color: #8d6e63!important; }
.bg-brown-d1 { background-color: #6d4c41!important; }
.bg-brown-d2 { background-color: #5d4037!important; }
.bg-brown-d3 { background-color: #4e342e!important; }
.bg-brown-d4 { background-color: #3e2723!important; }
.bg-brown-d5 { background-color: #211512!important; }


.bg-blue-grey { background-color: #7481a4!important; }
.bg-blue-grey-l5 { background-color: #f0f1f5!important; }
.bg-blue-grey-l4 { background-color: #e0e3eb!important; }
.bg-blue-grey-l3 { background-color: #c1c7d7!important; }
.bg-blue-grey-l2 { background-color: #a2abc3!important; }
.bg-blue-grey-l1 { background-color: #848fae!important; }

.bg-blue-grey-d1 { background-color: #65739a!important; }
.bg-blue-grey-d2 { background-color: #515c7b!important; }
.bg-blue-grey-d3 { background-color: #3c455d!important; }
.bg-blue-grey-d4 { background-color: #282e3e!important; }
.bg-blue-grey-d5 { background-color: #14171f!important; }


.bg-grey { background-color: #9e9e9e!important; }
.bg-grey-l5 { background-color: #fafafa!important; }
.bg-grey-l4 { background-color: #f5f5f5!important; }
.bg-grey-l3 { background-color: #eeeeee!important; }
.bg-grey-l2 { background-color: #e0e0e0!important; }
.bg-grey-l1 { background-color: #bdbdbd!important; }
.bg-grey-d1 { background-color: #757575!important; }
.bg-grey-d2 { background-color: #616161!important; }
.bg-grey-d3 { background-color: #424242!important; }
.bg-grey-d4 { background-color: #212121!important; }
.bg-grey-d5 { background-color: #1a1a1a!important; }
.bg-black { background-color: #000!important; }
.bg-black-alpha-1 { background-color: rgba(0, 0, 0, 0.1)!important; }
.bg-black-alpha-2 { background-color: rgba(0, 0, 0, 0.2)!important; }
.bg-black-alpha-3 { background-color: rgba(0, 0, 0, 0.3)!important; }
.bg-black-alpha-4 { background-color: rgba(0, 0, 0, 0.4)!important; }
.bg-black-alpha-5 { background-color: rgba(0, 0, 0, 0.5)!important; }
.bg-black-alpha-6 { background-color: rgba(0, 0, 0, 0.6)!important; }
.bg-black-alpha-7 { background-color: rgba(0, 0, 0, 0.7)!important; }
.bg-black-alpha-8 { background-color: rgba(0, 0, 0, 0.8)!important; }
.bg-black-alpha-9 { background-color: rgba(0, 0, 0, 0.9)!important; }
.bg-black-alpha-95 { background-color: rgba(0, 0, 0, 0.95)!important; }
.bg-white { background-color: #fff!important; }
.bg-white-alpha-1 { background-color: rgba(255,255,255,0.1)!important; }
.bg-white-alpha-2 { background-color: rgba(255,255,255,0.2)!important; }
.bg-white-alpha-3 { background-color: rgba(255,255,255,0.3)!important; }
.bg-white-alpha-4 { background-color: rgba(255,255,255,0.4)!important; }
.bg-white-alpha-5 { background-color: rgba(255,255,255,0.5)!important; }
.bg-white-alpha-6 { background-color: rgba(255,255,255,0.6)!important; }
.bg-white-alpha-7 { background-color: rgba(255,255,255,0.7)!important; }
.bg-white-alpha-8 { background-color: rgba(255,255,255,0.8)!important; }
.bg-white-alpha-9 { background-color: rgba(255,255,255,0.9)!important; }
.bg-white-alpha-95 { background-color: rgba(255,255,255,0.95)!important; }


//font colors
.tx-deep-blue {color: #0000ff!important;}
.tx-deep-blue-l2 {color: #9999ff!important;}
.tx-deep-blue-l1 {color: #3333ff!important;}
.tx-deep-blue-d1 {color: #000099!important;}
.tx-deep-blue-d2 {color: #000033!important;}
.tx-blue {color: #1e87f0!important;}
.tx-blue-l2 {color: #cfe6fc!important;}
.tx-blue-l1 {color: #6fb3f6!important;}
.tx-blue-d1 {color: #094d90!important;}
.tx-blue-d2 {color: #031a30!important;}
.tx-light-blue {color: #03befc!important;}
.tx-light-blue-l2 {color: #cdf2fe!important;}
.tx-light-blue-l1 {color: #68d8fd!important;}
.tx-light-blue-d1 {color: #027297!important;}
.tx-light-blue-d2 {color: #012632!important;}
.tx-red {color: #ff0000!important;}
.tx-red-l2 {color: #ffcccc!important;}
.tx-red-l1 {color: #ff6666!important;}
.tx-red-d1 {color: #990000!important;}
.tx-red-d2 {color: #330000!important;}
.tx-pink { color: #e91e63!important; }
.tx-pink-l2 { color: #f8bbd0!important; }
.tx-pink-l1 { color: #f06292!important; }
.tx-pink-d1 { color: #c2185b!important; }
.tx-pink-d2 { color: #880e4f!important; }
.tx-purple { color: #9c27b0!important; }
.tx-purple-l2 { color: #e1bee7!important; }
.tx-purple-l1 { color: #ba68c8!important; }
.tx-purple-d1 { color: #7b1fa2!important; }
.tx-purple-d2 { color: #4a148c!important; }
.tx-deep-purple { color: #673ab7!important; }
.tx-deep-purple-l2 { color: #d1c4e9!important; }
.tx-deep-purple-l1 { color: #9575cd!important; }
.tx-deep-purple-d1 { color: #512da8!important; }
.tx-deep-purple-d2 { color: #311b92!important; }
.tx-indigo { color: #3f51b5!important; }
.tx-indigo-l2 { color: #c5cae9!important; }
.tx-indigo-l1 { color: #7986cb!important; }
.tx-indigo-d1 { color: #303f9f!important; }
.tx-indigo-d2 { color: #1a237e!important; }
.tx-cyan { color: #00bcd4!important; }
.tx-cyan-l2 { color: #b2ebf2!important; }
.tx-cyan-l1 { color: #4dd0e1!important; }
.tx-cyan-d1 { color: #0097a7!important; }
.tx-cyan-d2 { color: #006064!important; }
.tx-teal { color: #009688!important; }
.tx-teal-l2 { color: #b2dfdb!important; }
.tx-teal-l1 { color: #4db6ac!important; }
.tx-teal-d1 { color: #00796b!important; }
.tx-teal-d2 { color: #004d40!important; }
.tx-green { color: #4CAF50!important; }
.tx-green-l2 { color: #C8E6C9!important; }
.tx-green-l1 { color: #81C784!important; }
.tx-green-d1 { color: #388E3C!important; }
.tx-green-d2 { color: #1B5E20!important; }
.tx-light-green { color: #8bc34a!important; }
.tx-light-green-l2 { color: #dcedc8!important; }
.tx-light-green-l1 { color: #aed581!important; }
.tx-light-green-d1 { color: #689f38!important; }
.tx-light-green-d2 { color: #33691e!important; }
.tx-lime { color: #cddc39!important; }
.tx-lime-l2 { color: #f0f4c3!important; }
.tx-lime-l1 { color: #dce775!important; }
.tx-lime-d1 { color: #afb42b!important; }
.tx-lime-d2 { color: #827717!important; }
.tx-yellow { color: #ffeb3b!important; }
.tx-yellow-l2 { color: #fff9c4!important; }
.tx-yellow-l1 { color: #fff176!important; }
.tx-yellow-d1 { color: #fbc02d!important; }
.tx-yellow-d2 { color: #f57f17!important; }
.tx-amber { color: #ffc107!important; }
.tx-amber-l2 { color: #ffecb3!important; }
.tx-amber-l1 { color: #ffd54f!important; }
.tx-amber-d1 { color: #ffa000!important; }
.tx-amber-d2 { color: #ff6f00!important; }
.tx-orange { color: #ff9800!important; }
.tx-orange-l2 { color: #ffe0b2!important; }
.tx-orange-l1 { color: #ffb74d!important; }
.tx-orange-d1 { color: #f57c00!important; }
.tx-orange-d2 { color: #e65100!important; }
.tx-deep-orange { color: #ff5722!important; }
.tx-deep-orange-l2 { color: #ffccbc!important; }
.tx-deep-orange-l1 { color: #ff8a65!important; }
.tx-deep-orange-d1 { color: #e64a19!important; }
.tx-deep-orange-d2 { color: #bf360c!important; }
.tx-brown { color: #795548!important; }
.tx-brown-l2 { color: #d7ccc8!important; }
.tx-brown-l1 { color: #a1887f!important; }
.tx-brown-d1 { color: #5d4037!important; }
.tx-brown-d2 { color: #3e2723!important; }
.tx-grey { color: #9e9e9e!important; }
.tx-grey-l2 { color: #f5f5f5!important; }
.tx-grey-l1 { color: #e0e0e0!important; }
.tx-grey-d1 { color: #616161!important; }
.tx-grey-d2 { color: #212121!important; }
.tx-black { color: #000!important; }
.tx-black-alpha-2 { color: rgba(0, 0, 0, 0.2)!important; }
.tx-black-alpha-4 { color: rgba(0, 0, 0, 0.4)!important; }
.tx-black-alpha-6 { color: rgba(0, 0, 0, 0.6)!important; }
.tx-black-alpha-8 { color: rgba(0, 0, 0, 0.8)!important; }
.tx-white { color: #fff!important; }
.tx-white-alpha-2 { color: rgba(255,255,255,0.2)!important; }
.tx-white-alpha-4 { color: rgba(255,255,255,0.4)!important; }
.tx-white-alpha-6 { color: rgba(255,255,255,0.6)!important; }
.tx-white-alpha-8 { color: rgba(255,255,255,0.8)!important; }

//border colors
[class*="b-"]{
    border-width: 1px;
    border-style:solid;
}
.b-deep-blue {border-color: #0000ff;}
.b-deep-blue-l2 {border-color: #9999ff;}
.b-deep-blue-l1 {border-color: #3333ff;}
.b-deep-blue-d1 {border-color: #000099;}
.b-deep-blue-d2 {border-color: #000033;}
.b-blue {border-color: #1e87f0;}
.b-blue-l2 {border-color: #cfe6fc;}
.b-blue-l1 {border-color: #6fb3f6;}
.b-blue-d1 {border-color: #094d90;}
.b-blue-d2 {border-color: #031a30;}
.b-light-blue {border-color: #03befc;}
.b-light-blue-l2 {border-color: #cdf2fe;}
.b-light-blue-l1 {border-color: #68d8fd;}
.b-light-blue-d1 {border-color: #027297;}
.b-light-blue-d2 {border-color: #012632;}
.b-red {border-color: #ff0000;}
.b-red-l2 {border-color: #ffcccc;}
.b-red-l1 {border-color: #ff6666;}
.b-red-d1 {border-color: #990000;}
.b-red-d2 {border-color: #330000;}
.b-pink { border-color: #e91e63; }
.b-pink-l2 { border-color: #f8bbd0; }
.b-pink-l1 { border-color: #f06292; }
.b-pink-d1 { border-color: #c2185b; }
.b-pink-d2 { border-color: #880e4f; }
.b-purple { border-color: #9c27b0; }
.b-purple-l2 { border-color: #e1bee7; }
.b-purple-l1 { border-color: #ba68c8; }
.b-purple-d1 { border-color: #7b1fa2; }
.b-purple-d2 { border-color: #4a148c; }
.b-deep-purple { border-color: #673ab7; }
.b-deep-purple-l2 { border-color: #d1c4e9; }
.b-deep-purple-l1 { border-color: #9575cd; }
.b-deep-purple-d1 { border-color: #512da8; }
.b-deep-purple-d2 { border-color: #311b92; }
.b-indigo { border-color: #3f51b5; }
.b-indigo-l2 { border-color: #c5cae9; }
.b-indigo-l1 { border-color: #7986cb; }
.b-indigo-d1 { border-color: #303f9f; }
.b-indigo-d2 { border-color: #1a237e; }
.b-cyan { border-color: #00bcd4; }
.b-cyan-l2 { border-color: #b2ebf2; }
.b-cyan-l1 { border-color: #4dd0e1; }
.b-cyan-d1 { border-color: #0097a7; }
.b-cyan-d2 { border-color: #006064; }
.b-teal { border-color: #009688; }
.b-teal-l2 { border-color: #b2dfdb; }
.b-teal-l1 { border-color: #4db6ac; }
.b-teal-d1 { border-color: #00796b; }
.b-teal-d2 { border-color: #004d40; }
.b-green { border-color: #4CAF50; }
.b-green-l2 { border-color: #C8E6C9; }
.b-green-l1 { border-color: #81C784; }
.b-green-d1 { border-color: #388E3C; }
.b-green-d2 { border-color: #1B5E20; }
.b-light-green { border-color: #8bc34a; }
.b-light-green-l2 { border-color: #dcedc8; }
.b-light-green-l1 { border-color: #aed581; }
.b-light-green-d1 { border-color: #689f38; }
.b-light-green-d2 { border-color: #33691e; }
.b-lime { border-color: #cddc39; }
.b-lime-l2 { border-color: #f0f4c3; }
.b-lime-l1 { border-color: #dce775; }
.b-lime-d1 { border-color: #afb42b; }
.b-lime-d2 { border-color: #827717; }
.b-yellow { border-color: #ffeb3b; }
.b-yellow-l2 { border-color: #fff9c4; }
.b-yellow-l1 { border-color: #fff176; }
.b-yellow-d1 { border-color: #fbc02d; }
.b-yellow-d2 { border-color: #f57f17; }
.b-amber { border-color: #ffc107; }
.b-amber-l2 { border-color: #ffecb3; }
.b-amber-l1 { border-color: #ffd54f; }
.b-amber-d1 { border-color: #ffa000; }
.b-amber-d2 { border-color: #ff6f00; }
.b-orange { border-color: #ff9800; }
.b-orange-l2 { border-color: #ffe0b2; }
.b-orange-l1 { border-color: #ffb74d; }
.b-orange-d1 { border-color: #f57c00; }
.b-orange-d2 { border-color: #e65100; }
.b-deep-orange { border-color: #ff5722; }
.b-deep-orange-l2 { border-color: #ffccbc; }
.b-deep-orange-l1 { border-color: #ff8a65; }
.b-deep-orange-d1 { border-color: #e64a19; }
.b-deep-orange-d2 { border-color: #bf360c; }
.b-brown { border-color: #795548; }
.b-brown-l2 { border-color: #d7ccc8; }
.b-brown-l1 { border-color: #a1887f; }
.b-brown-d1 { border-color: #5d4037; }
.b-brown-d2 { border-color: #3e2723; }
.b-grey { border-color: #9e9e9e; }
.b-grey-l2 { border-color: #f5f5f5; }
.b-grey-l1 { border-color: #e0e0e0; }
.b-grey-d1 { border-color: #616161; }
.b-grey-d2 { border-color: #212121; }
.b-black { border-color: #000; }
.b-black-alpha-2 { border-color: rgba(0, 0, 0, 0.2); }
.b-black-alpha-4 { border-color: rgba(0, 0, 0, 0.4); }
.b-black-alpha-6 { border-color: rgba(0, 0, 0, 0.6); }
.b-black-alpha-8 { border-color: rgba(0, 0, 0, 0.8); }
.b-white { border-color: #fff; }
.b-white-alpha-2 { border-color: rgba(255,255,255,0.2); }
.b-white-alpha-4 { border-color: rgba(255,255,255,0.4); }
.b-white-alpha-6 { border-color: rgba(255,255,255,0.6); }
.b-white-alpha-8 { border-color: rgba(255,255,255,0.8); }

[class*='tx-']{
    h1, h2, h3, h4, h5, h6, a{
        color:inherit;
    }
}