
.filter-6 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: #000;

}
.pos-y-center{
    background-position-y: center;
}
.pos-y-top{
    background-position-y: top;
}
.pos-y-bottom{
    background-position-y: bottom;
}

div[class^='filter-'] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

}

.filter-1{ background-color: rgba(0,0,0,.1) }
.filter-2{ background-color: rgba(0,0,0,.2) }
.filter-3{ background-color: rgba(0,0,0,.3) }
.filter-4{ background-color: rgba(0,0,0,.4) }
.filter-5{ background-color: rgba(0,0,0,.5) }
.filter-6{ background-color: rgba(0,0,0,.6) }
.filter-7{ background-color: rgba(0,0,0,.7) }
.filter-8{ background-color: rgba(0,0,0,.8) }
.filter-9{ background-color: rgba(0,0,0,.9) }