.nav-icon {
    display: none;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    background: #fff;
    padding: 5px;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.responcive-box {
  //todo if necessary  
}

@media (max-width: 481px) {
  .nav-icon {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  .responcive-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    background: #fff;
    padding: 20px;
    flex-direction: column;
    align-items: start;
    z-index: 1000000;
    color: #444;

    display: flex; // always display
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: all ease 0.5s;

    > div, span, but, a {
      z-index: 1000001;
    }
    > div, nav, ul {
      display: flex;
      flex-direction: column;
    }

    &.isActive {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
  }
}
