.pos-r{
    position: relative;
}

[class*='pos-a']{
    position: absolute;
}
//absolute
.pos-a-0000{
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}
.pos-a-00x0{
    top:0;
    right: 0;
    left: 0;
}
.pos-a-x000{
    left: 0;
    bottom: 0;
    right: 0;
}
.pos-a-000x{
    top:0;
    bottom: 0;
    right: 0;
}
.pos-a-0x00{
    top:0;
    bottom: 0;
    left: 0;
}


//z indexex
.z-1{z-index: 1;}
.z-2{z-index: 2;}
.z-3{z-index: 3;}
.z-4{z-index: 4;}
.z-5{z-index: 5;}
.z-6{z-index: 6;}
.z-7{z-index: 7;}
.z-8{z-index: 8;}
.z-9{z-index: 9;}
.z-99{z-index: 99;}
.z-999{z-index: 999;}
.z-9999{z-index: 9999;}
.z-99999{z-index: 99999;}
.z-999999{z-index: 999999;}

