//floats
.float-l{
    float: left;
}
.float-r{
    float: right;
}
.ta-c{
    text-align: center;
}
.ta-l{
    text-align: left;
}
.ta-r{
    text-align: right;
}

.fw-400 {
  font-weight: 400; 
}

.fw-600 {
  font-weight: 600; /* Equivalent to 700 */
}

.fw-800 {
  font-weight: 800; /* Will be heavier than its parent */
}
