
#debug-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  background: $bg;
  color: $col;
  width: $width;
  height: $height;
  padding: 5px 20px 20px;
  border-radius: 5px 0px 0px 0px;
  z-index: 99999999;

//   &.console-active {
//     top: auto;
//     bottom: 0;
//   }



  .db-inner-icons {
    // height: $tabs-height;
    padding: 5px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    right: 0;
    top: - $tabs-height-pad;

    span {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // width: $tabs-height;
      // height: $tabs-height;
      background: $bg-inner-icons;
      font-size: .8rem;
      padding: 2px 9px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      cursor: pointer;
      transition: all ease 0.5s;

      &:last-child {
        background: #58658f;
      }

      &:hover {
        background: #787a80;
      }
    }
  }

  // .debug-window{
  // }


}

  .db-icons {
    height: $tabs-height;
    padding: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    left: 10px;
    bottom: 10px;
    gap: 5px;
    right: 0;
    // top: - $tabs-height-pad;
    z-index: 9998;
    color:#fff;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $tabs-height;
      height: $tabs-height;
      background: #404550;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      cursor: pointer;
      transition: all ease 0.5s;
      &.de-error-badge{
        font-weight: bold;
        background: rgb(211, 31, 31);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      &.de-warn-badge{
        font-weight: bold;
        background: rgb(241, 226, 6);
        color: #333;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }

      &:hover {
        background: #787a80;
      }
    }
  }

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY($height);
    transform: translateY($height);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(-$height);
    transform: translateY(-$height);
    opacity: 1;
  }
}