.j-form h3 {
  font-size: 1.5rem;
  border-bottom: 1px solid #394a5f;
  margin: 0 0 7px;
}

.j-form .control-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.j-form .control-group label {
  font-size: 14px;
  margin-bottom: 0;
}
