.o-0 {
  opacity: 0;
}

.o-1 {
  opacity: 0.1;
}

.o-2 {
  opacity: 0.2;
}

.o-3 {
  opacity: 0.3;
}

.o-4 {
  opacity: 0.4;
}

.o-5 {
  opacity: 0.5;
}

.o-6 {
  opacity: 0.6;
}

.o-7 {
  opacity: 0.7;
}

.o-8 {
  opacity: 0.8;
}

.o-9 {
  opacity: 0.9;
}

.o-10 {
  opacity: 1;
}

.fb-1 {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.fb-2 {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.fb-3 {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.fb-4 {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.fb-5 {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.fb-6 {
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.fb-7 {
  -webkit-filter: blur(7px);
  filter: blur(7px);
}

.fb-8 {
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

.fb-9 {
  -webkit-filter: blur(9px);
  filter: blur(9px);
}

.fb-10 {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.ba-s {
  background-attachment: scroll;
}

.ba-f {
  background-attachment: fixed;
}

.bp-cc {
  background-position: center center;
}

.bp-ct {
  background-position: center top;
}

.bp-cb {
  background-position: center bottom;
}
