.media-manager {
  background: #e0e3eb;
  color: #444;
  display: flex;
  padding: 5px;
}

.media-manager .d-main {
  flex-grow: 1;
}

.media-manager .d-main .d-header {
  background: #5b698b;
  padding: 7px 1rem;
}

.media-manager .d-main .d-files {
  background: #fff;
  padding: 1rem;
}

.media-manager .d-sidebar {
  width: 20%;
  padding: 5px 1rem;
}
