.j-tabs {
  display: flex;
}

.j-tabs li {
  cursor: pointer;
  padding: 6px 1rem;
  transition: all ease 0.5s;
}

.j-tabs li:hover {
  background: rgba(0, 0, 0, 0.4);
}

.j-tabs.top {
  margin: 0;
}

.j-tabs.top li {
  border-radius: 6px 6px 0 0;
}

.j-tabs.top.style-bg {
  border-bottom: 3px solid #54688d;
}

.j-tabs.top.style-bg li {
  background: #eceff1;
}

.j-tabs.top.style-bg li.isActive {
  background: #54688d;
  color: #fff;
}

.com-tabs {
  display: flex;
  margin-bottom: 1rem;
}

.com-tabs .de-tabs {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.com-tabs .de-tabs li {
  display: flex;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.com-tabs .de-content {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-animation: show-tab 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: show-tab 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.com-tabs.horizontal-top {
  display: flex;
  flex-direction: column;
}

.com-tabs.horizontal-top .de-tabs {
  display: flex;
}

.com-tabs.horizontal-top {
  flex-direction: column;
}

.com-tabs.horizontal-top .de-content {
  padding: 1rem 0;
}

.com-tabs.vertical-left {
  flex-direction: row;
}

.com-tabs.vertical-left .de-tabs {
  flex-direction: column;
}

.com-tabs.vertical-left .de-content {
  margin-top: 0;
  flex-grow: 1;
}

.com-tabs.horizontal-top.tab-background .de-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.com-tabs.horizontal-top.tab-background .de-tabs li {
  display: flex;
  padding: 0.5rem 1.5rem;
}

.com-tabs.horizontal-top.tab-background .de-tabs li.isActive {
  background: #54688d;
  border-radius: 6px 6px 0 0;
}

.com-tabs.horizontal-top.tab-buttom-small .de-tabs {
  gap: 0.5rem;
  padding-right: 1rem;
}

.com-tabs.horizontal-top.tab-buttom-small .de-tabs li {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  padding: 0 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.com-tabs.horizontal-top.tab-buttom-small .de-tabs li.isActive {
  background: #54688d;
  color: #fff;
}

.com-tabs.horizontal-top.tab-buttom-small .de-content {
  margin-top: 9px;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.com-tabs.vertical-left.tab-background .de-tabs {
  margin-right: 1rem;
}

.com-tabs.vertical-left.tab-background .de-tabs li {
  display: flex;
  padding: 0.5rem 1.5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.com-tabs.vertical-left.tab-background .de-tabs li.isActive {
  background: #54688d;
  border-radius: 6px 0 0 6px;
}

.com-tabs.vertical-left.tab-background .de-content {
  flex-grow: 1;
}

.com-tabs.vertical-left.tab-button .de-tabs {
  gap: 0.5rem;
  margin-right: 1rem;
}

.com-tabs.vertical-left.tab-button .de-tabs li {
  display: flex;
  padding: 4px 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.com-tabs.vertical-left.tab-button .de-tabs li.isActive {
  background: #54688d;
}

.com-tabs.vertical-left.tab-button .de-content {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-7-9 11:14:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation show-tab
 * ----------------------------------------
 */
@-webkit-keyframes show-tab {
  0% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes show-tab {
  0% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
