.jet-section {
  position: relative;
  border: 1px solid transparent;
  transition: all ease 0.6s;
}

.jet-section .cntr {
  position: relative;
  z-index: 4;
}

.jet-section .form-toolbar {
  position: absolute;
  gap: 6px;
  border-radius: 0 0 0 5px;
  padding: 4px 8px;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.jet-section .form-toolbar i {
  background: #fff;
  color: #000 !important;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: all ease 0.6s;
}

.jet-section .form-toolbar i:hover {
  background: #ccd7da;
}

.jet-section:hover .form-toolbar {
  display: inline-flex;
}

.jet-section:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.element {
  position: relative;
  border: 1px solid transparent;
  transition: all ease 0.6s;
}

.element div, .element img, .element p, .element ul, .element li, .element span, .element a {
  z-index: 4;
}

.element .form-toolbar {
  position: absolute;
  display: none;
  justify-content: center;
  gap: 6px;
  border-radius: 5px;
  padding: 4px;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(84, 86, 236, 0.6);
  z-index: 5;
}

.element .form-toolbar i {
  background: #fff;
  color: #000 !important;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: all ease 0.6s;
}

.element .form-toolbar i:hover {
  background: #ccd7da;
}

.element:hover .form-toolbar {
  display: inline-flex;
}

.element:hover {
  border-color: rgba(84, 86, 236, 0.6);
}
