/* line 11, ../../www/lpm.cms/scss/src/_base.scss */
#admin-enter {
  position: fixed;
  left: 0;
  top: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #323a4d;
  color: #fff;
  z-index: 10000;
  border-radius: 0 5px 5px 0;
  transition: all ease 0.3s;
}

/* line 25, ../../www/lpm.cms/scss/src/_base.scss */
#admin-enter i {
  cursor: pointer;
  -webkit-animation: rotate-center 3s infinite linear;
  animation: rotate-center 3s infinite linear;
}

/* line 30, ../../www/lpm.cms/scss/src/_base.scss */
#admin-enter:hover {
  background: #4e6672;
}

@-webkit-keyframes rotate-center {
  to {
    transform: rotate(1turn);
  }
}

@keyframes rotate-center {
  to {
    transform: rotate(1turn);
  }
}

/* line 46, ../../www/lpm.cms/scss/src/_base.scss */
#app.isSidebar {
  margin-left: 350px !important;
}

/* line 49, ../../www/lpm.cms/scss/src/_base.scss */
#app.isBar {
  margin-left: 42px;
}

/* line 2, ../../www/lpm.cms/scss/src/_sidebar.scss */
body.isSection {
  margin-left: 350px;
}

/* line 5, ../../www/lpm.cms/scss/src/_sidebar.scss */
body.isBar {
  margin-left: 42px;
}

/* line 10, ../../www/lpm.cms/scss/src/_sidebar.scss */
.j-admin-icon {
  position: fixed;
  top: 50%;
  left: 0;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #323a4d;
  color: #fff;
  z-index: 11000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* line 27, ../../www/lpm.cms/scss/src/_sidebar.scss */
.admin-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 42px;
  display: flex;
  flex-direction: column;
  background: #323a4d;
  color: #fff;
  z-index: 10002;
}

/* line 41, ../../www/lpm.cms/scss/src/_sidebar.scss */
.admin-bar ul {
  display: flex;
  flex-direction: column;
}

/* line 45, ../../www/lpm.cms/scss/src/_sidebar.scss */
.admin-bar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

/* line 53, ../../www/lpm.cms/scss/src/_sidebar.scss */
.admin-bar ul li span,
.admin-bar ul li i {
  transition: all ease 0.5s;
}

/* line 60, ../../www/lpm.cms/scss/src/_sidebar.scss */
.admin-bar ul li:hover span,
.admin-bar ul li:hover i {
  transform: scale(1.05);
}

/* line 73, ../../www/lpm.cms/scss/src/_sidebar.scss */
.admin-sec {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-left: 57px;
  border-right: 1px solid #9fa8c4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  background: #3c455d;
  color: #fff;
  z-index: 10001;
}

/* line 5, ../../www/lpm.cms/scss/src/_toolbar.scss */
.jet-section {
  position: relative;
  border: 1px solid transparent;
  transition: all ease 0.6s;
}

/* line 10, ../../www/lpm.cms/scss/src/_toolbar.scss */
.jet-section .form-toolbar {
  position: absolute;
  display: none;
  gap: 6px;
  border-radius: 5px;
  padding: 4px;
  top: 3px;
  right: 6px;
  background: rgba(8, 151, 247, 0.6);
}

/* line 20, ../../www/lpm.cms/scss/src/_toolbar.scss */
.jet-section .form-toolbar i {
  background: #fff;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: all ease 0.6s;
}

/* line 28, ../../www/lpm.cms/scss/src/_toolbar.scss */
.jet-section .form-toolbar i:hover {
  background: #ccd7da;
}

/* line 36, ../../www/lpm.cms/scss/src/_toolbar.scss */
.jet-section:hover .form-toolbar {
  display: inline-flex;
}

/* line 44, ../../www/lpm.cms/scss/src/_toolbar.scss */
.jet-section:hover {
  border-color: rgba(8, 151, 247, 0.6);
}

/* line 48, ../../www/lpm.cms/scss/src/_toolbar.scss */
.element {
  position: relative;
  border: 1px solid transparent;
  transition: all ease 0.6s;
}

/* line 53, ../../www/lpm.cms/scss/src/_toolbar.scss */
.element .form-toolbar {
  position: absolute;
  display: none;
  justify-content: center;
  gap: 6px;
  border-radius: 5px;
  padding: 4px;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(52, 155, 4, 0.6);
}

/* line 67, ../../www/lpm.cms/scss/src/_toolbar.scss */
.element .form-toolbar i {
  background: #fff;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: all ease 0.6s;
}

/* line 75, ../../www/lpm.cms/scss/src/_toolbar.scss */
.element .form-toolbar i:hover {
  background: #ccd7da;
}

/* line 83, ../../www/lpm.cms/scss/src/_toolbar.scss */
.element:hover .form-toolbar {
  display: inline-flex;
}

/* line 91, ../../www/lpm.cms/scss/src/_toolbar.scss */
.element:hover {
  border-color: rgba(52, 155, 4, 0.6);
}

/* line 1, ../../www/lpm.cms/scss/src/_sidebar-elems.scss */
#jet-content {
  z-index: 905;
}

/* line 5, ../../www/lpm.cms/scss/src/_sidebar-elems.scss */
.jet-add {
  background: #3c455d;
  position: fixed;
  left: 42px;
  min-width: 308px;
  width: 308px;
  top: 0;
  bottom: 0;
  padding: 2rem 1rem 1rem;
  box-sizing: border-box;
  z-index: 100010;
}

/* line 16, ../../www/lpm.cms/scss/src/_sidebar-elems.scss */
.jet-add .fa-xmark {
  position: absolute;
  right: 1rem;
  top: 8px;
  color: #efefc1;
  cursor: pointer;
}

/* line 25, ../../www/lpm.cms/scss/src/_sidebar-elems.scss */
.jet-add .d-wrap {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  background: #a2abc3;
  border-radius: 5px;
  padding: 1rem;
}

/* line 34, ../../www/lpm.cms/scss/src/_sidebar-elems.scss */
.jet-add .d-wrap .d-icon {
  background: #e0e3eb;
  height: 50px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all ease 0.6s;
}

/* line 46, ../../www/lpm.cms/scss/src/_sidebar-elems.scss */
.jet-add .d-wrap .d-icon:hover {
  background: #fff;
}

/* line 50, ../../www/lpm.cms/scss/src/_sidebar-elems.scss */
.jet-add .d-wrap .d-icon span {
  font-size: 10px;
}

/* line 2, ../../www/lpm.cms/scss/src/_sections.scss */
.control-section {
  display: flex;
  flex-direction: column;
}

/* line 5, ../../www/lpm.cms/scss/src/_sections.scss */
.control-section h3 {
  font-size: 1.5rem;
  font-weight: normal;
  border-bottom: 1px solid #969caf;
  margin: 0 0 1rem;
}

/* line 11, ../../www/lpm.cms/scss/src/_sections.scss */
.control-section .d-block {
  background: #d6e0f5;
  border-radius: 5px;
}

/* line 14, ../../www/lpm.cms/scss/src/_sections.scss */
.control-section .d-block h4 {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0 0 1rem;
}

/* line 20, ../../www/lpm.cms/scss/src/_sections.scss */
.control-section .d-block .block-inner {
  border-top: 1px solid #5c6172;
  padding-top: 1rem;
}

/* line 4, ../../www/lpm.cms/scss/src/_form.scss */
.jet-form {
  color: #45495f;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}

/* line 12, ../../www/lpm.cms/scss/src/_form.scss */
.jet-form input,
.jet-form textarea {
  padding: 2px 5px;
}

/* line 18, ../../www/lpm.cms/scss/src/_form.scss */
.jet-form h3 {
  font-size: 1.5rem;
  border-bottom: 1px solid #394a5f;
  margin: 0 0 7px;
}

/* line 24, ../../www/lpm.cms/scss/src/_form.scss */
.jet-form .control-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* line 29, ../../www/lpm.cms/scss/src/_form.scss */
.jet-form .control-group label {
  font-size: 14px;
  color: #000;
  margin-bottom: 0;
}

/* line 37, ../../www/lpm.cms/scss/src/_form.scss */
.jet-form.small-transparent {
  gap: 7px;
}

/* line 40, ../../www/lpm.cms/scss/src/_form.scss */
.jet-form.small-transparent .control-group {
  flex-direction: column;
}

/* line 2, ../../www/lpm.cms/scss/src/_vue-anim.scss */
.slideVer-enter-active,
.slideVer-leave-active {
  transform-origin: top;
  transition: all 0.3s ease-in-out;
}

/* line 9, ../../www/lpm.cms/scss/src/_vue-anim.scss */
.slideVer-enter-from,
.slideVer-leave-to {
  opacity: 0;
  transform: scaleY(0);
}

/* line 16, ../../www/lpm.cms/scss/src/_vue-anim.scss */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
  transition: all 0.3s ease-in-out;
}

/* line 23, ../../www/lpm.cms/scss/src/_vue-anim.scss */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* line 30, ../../www/lpm.cms/scss/src/_vue-anim.scss */
.pop-enter-active,
.pop-leave-active {
  transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
}

/* line 35, ../../www/lpm.cms/scss/src/_vue-anim.scss */
.pop-enter-from,
.pop-leave-to {
  opacity: 0;
  transform: scale(0.3) translateY(-50%);
}

/* line 5, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager {
  background: #e0e3eb;
  color: #444;
  display: flex;
  padding: 5px;
}

/* line 11, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main {
  flex-grow: 1;
  padding-right: 5px;
}

/* line 15, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-header {
  background: #5b698b;
  padding: 7px 1rem;
  display: flex;
  gap: 1.5rem;
}

/* line 21, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-header input,
.media-manager .d-main .d-header select {
  border-radius: 4px;
}

/* line 27, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-files {
  background: #fff;
  padding: 1rem;
  margin: 5px 0 0;
  display: flex;
  gap: 1rem;
  overflow-y: auto;
}

/* line 36, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-files li {
  cursor: pointer;
  transition: all easy 0.5s;
  position: relative;
}

/* line 41, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-files li:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

/* line 46, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-files.grid {
  flex-wrap: wrap;
}

/* line 49, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-files.grid li {
  display: flex;
  align-items: center;
  background: #e8ebf7;
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

/* line 59, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-files.grid li label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

/* line 67, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-files.grid li label input {
  position: absolute;
  top: 3px;
  right: 3px;
  margin: 0;
}

/* line 75, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-files.grid li img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

/* line 82, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-files.grid li:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 86, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-files.grid li span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  z-index: 2;
  font-size: 10px;
  padding: 4px;
  text-align: center;
}

/* line 103, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-files.list {
  flex-direction: column;
  gap: 0;
}

/* line 107, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-main .d-files.list li {
  padding: 5px 10px;
}

/* line 116, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  width: 20%;
  padding: 5px 1rem;
  background: #fff;
}

/* line 125, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-sidebar .d-set {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* line 132, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-sidebar .d-preview {
  overflow: hidden;
}

/* line 135, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager .d-sidebar .d-preview img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

/* line 144, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager.main-frame {
  position: fixed;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 380px;
  z-index: 900;
}

/* line 154, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 3;
}

/* line 170, ../../www/lpm.cms/scss/src/_media-manager.scss */
.media-manager input[type="radio"]:checked {
  background: #5b698b url("data:image/svg+xml;utf8,\a             <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'>\a                 <path fill='white' d='M6 10.2L3.5 7.7l-1.4 1.4L6 13 14 5l-1.4-1.4z'/>\a             </svg>") no-repeat center center;
  background-size: 12px 12px;
}

/*# sourceMappingURL=admin.css.map */