main {
  display: flex;
  flex-direction: column;
}

.jet-section {
  position: relative;
}

.jet-section div {
  z-index: 2;
}

.jet-section .img-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
