.start-button {
    position: fixed;
    background: $prim;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    color: #fff;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1000000;
    transition: all ease 0.5s;
    cursor: pointer;

    &:hover {
        background: #6d7d9e;
        box-shadow: $shadow;
    }
}

.admin-modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: $width-sec;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
    cursor: pointer;

    .fa-xmark {
        position: fixed;
        top: 20px;
        right: 20px;
        color:#fff;
    }
}
small{
    background: rgba(255,255,255,.5);
    border-radius: 4px;
    padding: 5px;
    color:#000;
}

input[type="color"]{
    width: 100%;
}

$width-sec: 350px; // your sidebar width

.tips-box {
  position: fixed;
  width: 50%; // or any width you want for modal
  top: 100px;

  // Center relative to white area (viewport - sidebar)
  left: calc(#{$width-sec} + (100% - #{$width-sec}) / 2);
  transform: translateX(-50%);

  background: #fff;
  color: #000;
  padding: 1.5rem;
  border-radius: 6px;
  z-index: 2;
}


#admin-enter {
    position: fixed;
    left: 0;
    top: 50%;
    width: $width-bar;
    height: $width-bar;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $sec;
    color: #fff;
    z-index: 10000;
    border-radius: 0 5px 5px 0;
    transition: all ease 0.3s;

    i {
        cursor: pointer;
        -webkit-animation: rotate-center 3s infinite linear;
        animation: rotate-center 3s infinite linear;
    }

    &:hover {
        background: #4e6672;
    }
}

@-webkit-keyframes rotate-center {
    to {
        transform: rotate(1turn);
    }
}

@keyframes rotate-center {
    to {
        transform: rotate(1turn);
    }
}

#app.isSidebar {
    margin-left: $width-sec !important;
}

#app.isBar {
    margin-left: $width-bar;
}