 .jet-form {
     color: #45495f;
     display: flex;
     flex-direction: column;
     input, textarea{
        padding: 2px 5px;
     }
     

     h3 {
         font-size: 1.5rem;
         border-bottom: 1px solid #394a5f;
         margin: 0 0 7px;
     }

     .control-group {
         display: flex;
         flex-direction: column;
         gap: 4px;

         label {
             font-size: 14px;
             color:#000;
            //  font-weight: 500;
             margin-bottom: 0;
         }
     }

     &.small-transparent {
        gap: 7px;

         .control-group {
             flex-direction: column;
         }
     }
 }