$sec: rgba(0, 0, 0, 0.6);
$el: rgba(84, 86, 236, 0.6);

div.form-toolbar {
    position: absolute;
    display: inline-flex;
    // gap: 6px;
    // border-radius: 5px;
    // padding: 4px 8px;
    z-index: 50 !important;
    transition: opacity 0.3s ease-in-out;

    .d-bg {
        display: flex;
        gap: 6px;
        border-radius: 14px;
        padding: 4px 10px;
    }

    .d-wrap {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition: all ease 0.6s;

        &:hover {
            background: #bbd3ee;
        }

        i {
            font-size: 16px;
            color: #000 !important;

            padding: 3px;
            cursor: pointer;
            font-size: 14px;


        }
    }

}


.jet-section {
    position: relative;
    transition: all ease 0.6s;

    .cntr {
        position: relative;
        z-index: 4;
    }

    .form-toolbar {
    opacity: 0;
        top: 2px;
        right: 2px;
    }

    .d-bg {
        background: rgb(3, 148, 245);
    }

    &:hover .form-toolbar {
        opacity: 1;
    }
}

.element {
    position: relative;
    transition: all ease 0.6s;

    div,
    img,
    p,
    ul,
    li,
    span,
    a {
        z-index: 4;
    }

    .d-bg {
        background: #05f005;
    }

    .form-toolbar {
    opacity: 0;
        top: 2px;
        left: 2px;
    }

}

// .jet-section:hover {
//     border-color: $sec;
// }

div.group-toolbar {
    position: relative;
    transition: all ease 0.6s;
    display: flex !important;
    gap: 5px;
    padding-bottom: 3px;

    .fa-pen-to-square,
    .fa-plus {
        display: none !important;
    }

    h4 .form-toolbar {
        position: relative !important;
        justify-content: center;
        gap: 6px;
        opacity: 1!important;

        background: $el;
        z-index: 50;
    }

    .d-bg {
        padding: 2px !important;
    }

    i {
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
            color: rgb(224, 16, 51);
        }
    }


}



// .element:hover {
//     border-color: $el;
// }

.add-section {
    position: relative;

    .d-drop {
        background: #fff;
        box-shadow: $shadow;
        border-radius: 5px;
        position: absolute;
        top: 100%;
        right: 0;

        div {
            white-space: nowrap;
        }
    }
}