 //slaide //todo redo
/* Transition active states */
.slideV-enter-active,
.slideV-leave-active {
  transition: transform 0.6s ease, opacity 0.6s ease;
  transform-origin: top; /* pivot at top */
}

/* Enter (showing) */
.slideV-enter-from {
  transform: scaleY(0);
  opacity: 0;
}
.slideV-enter-to {
  transform: scaleY(1);
  opacity: 1;
}

/* Leave (hiding) */
.slideV-leave-from {
  transform: scaleY(1);
  opacity: 1;
}
.slideV-leave-to {
  transform: scaleY(0);
  opacity: 0;
}


//fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
//   transform-origin: top;
transition: all 0.6s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
// transform: scaleY(0);
}

//pop 
.pop-enter-active,
.pop-leave-active {
  transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
}

.pop-enter-from,
.pop-leave-to {
  opacity: 0;
  transform: scale(0.3) translateY(-50%);
}