.but-blue,
.but-red,
.but-grey,
.but-indigo,
.but-orange,
.but-cyan,
.but-purple,
.but-yellow,
.but-default,
.but-teal,
.but-green,
.but-round {
    box-sizing: border-box;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    // flex-basis: content;
    // display: inline-block;
    min-height: 34px;
    padding: 9px 1rem;
    // width: auto;
    cursor: pointer;
    color: #fff;
    transition: all 0.25s;
    // transition-timing-function: cubic-bezier(0.5, 3, 0, 1);

    &:hover {
        color: #cfd8dc;
        text-decoration: none;
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        -webkit-box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, 0.12);
        box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, 0.12);
    }
}

.but-full {
    width: 100%;
    flex-grow: 1;
}

.but-centered {
    //rm??
    margin-left: auto !important;
    margin-right: auto !important;
}

.but-blue {
    background: #1E87F0;
}

.but-red {
    background: #f44336;
}

.but-green {
    background: #4caf50;
}

.but-grey {
    background: #455a64;
}

.but-indigo {
    background: #3f51b5;
}

.but-orange {
    background: #e65100;
}

.but-teal {
    background: #009688;
}


.but-cyan {
    background: #00bcd4;
}

.but-purple {
    background: #9c27b0;
}

.but-yellow {
    background: #ffeb3b;
    color: #000 !important;
}

.but-default {
    border: 1px solid #eceff1;
    background: #eceff1;
    color: #000 !important;
}

.but-border {
    border-width: 2px !important;
    background: transparent !important;
    color: inherit !important;
}

.j-link-dark-blue {
    color: rgba(12, 46, 80, .8) !important;
}

.j-link-light-blue {
    color: rgba(142, 206, 243, .8) !important;
}