

.card{
   overflow: hidden; 
   h3{
      font-size: 1.6rem;
      margin: 0 0 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $col-tr;
   }
   a{
      margin-top: 1rem;
   }
}