.loader-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 6.4px solid;
    border-color: #b5d3f1;
    border-right-color: #1e87f0;
    animation: spinner-d3wgkg 0.6s infinite linear;
    z-index: 10002;
}

@keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
}