$col: rgba(0,0,0,0.3);
.com-tabs {
    .de-tabs li {
        display: flex;
        padding: 0.5rem 1.5rem;
    }
    .de-content {
            
            padding: 1.5rem 0;
        }

    &.de-horizontal-top,
    &.de-horizontal-bottom {
        display: flex;
        flex-direction: column;

        .de-tabs {
            display: flex;
        }
    }
}

//layouts
.com-tabs {
    &.de-horizontal-top {
        flex-direction: column;
    .de-content {
            
        }
    }
    &.de-horizontal-bottom {
        flex-direction: column-reverse;  
        .de-content {
        
        }
    }
}

//modificators
com-tabs {
    &.de-berdered {

        .de-tabs li {
            display: flex;
            padding: 0.5rem 1.5rem;
        }
    }
        .de-content {
            display: flex;
            padding: 0.5rem 1.5rem;
        }


}