
.j-accordion{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    li{
        display: flex;
        flex-direction: column;

    }
    .e-title{
        cursor: pointer;
        padding: 9px;
        &:hover{
            background: rgba(0,0,0,.2);
        }
    }
    .e-content{
        padding: 1rem 0;
    }
    .e-content{
        display: none;
    }
    li.e-active .e-content{
        display: block;
    }
   &.e-default{
    .e-title{
        padding: 10px;
        transition: background-color .3s ease;
    }

   }
   &.e-title-boxed{
    gap: 7px;
    .e-title{
        background: rgba(0,0,0,.1);
        border-radius: 5px;
        transition: background-color .3s ease;
    }
   }
   &.e-title-boxed-small{
    gap: 4px;
    .e-title{
        background: rgba(0,0,0,.1);
        border-radius: 3px;
        transition: background-color .3s ease;
        padding: 5px 10px;
    }
    .e-content{
        padding: 7px 0;
    }
   }
} 