
.j-card{
    .el-img{
        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
          }
    }
    .el-content{
        padding: 20px;
        h3{
            margin: 0 0 20px;
        }
    }
    .el-footer{
        border-top: 1px solid rgba(0,0,0,.5);
        padding: 20px;
        p{
            margin: 0;
        }
    }
}