.jс-carousel {
	width: 100%;
	position: relative;
	transition: 0.4s ease;
	z-index: 1;
	background: #000;

	&.hover-arrows {

		.jс-prev,
		.jc-next {
			opacity: 0;
			transition: opacity 1s;
		}

		&:hover {

			.jс-prev,
			.jc-next {
				opacity: 1;
				// transition: opacity 1s;
			}
		}
	}
}

.jc-filter {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #000;
	opacity: 0.3;
	transition: 0.2s ease;
	z-index: 3;
}

.jс-slide {
	// display: none;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: 0.22s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	z-index: 2;

	div {
		z-index: 5;
	}

	&.jс-active {
		// display: flex;
		opacity: 1;
	}

	img {
		// aspect-ratio: 16/9;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.jс-slide.jc-active {
	opacity: 1 !important;
	display: flex;
}

$dot: 15px;
$preview: 40px;

.jc-nav {
	position: absolute;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 4;
	// gap: 20px;
	// background-color: rgba(0, 0, 0, 0.5);

	&.inside {
		bottom: 10px;
	}

	&.dots {
		height: $dot;

		.jc-nav-item {
			width: $dot;
			height: $dot;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.5);
			cursor: pointer;

			&:hover {
				background-color: #1F8CF1;
			}

			&.jс-active {
				background-color: #fff;
			}
		}

	}

	&.preview {
		.jc-nav-block {
			background: rgba(0, 0, 0, 0.7);
			padding: 5px 10px;
			border-radius: 5px;
		}

		height: $preview;

		.jc-nav-item {
			height: $preview;
			aspect-ratio: 16/9;
			border-radius: 2px;
			// background-color: rgba(255, 255, 255, 0.5);
			border: solid 1px #5f6970;
			overflow: hidden;
			cursor: pointer;
			opacity: 0.5;

			&:hover {
				border-color: #9a9cb3;
				opacity: 0.8;
			}

			&.jс-active {
				border-color: #fff;
				opacity: 1;
			}
		}

	}

	.jc-nav-block {
		display: inline-flex;
		gap: 7px;
	}
}



.jc-timer {
	position: absolute;
	bottom: 4px;
	right: 8px;
	left: 8px;
	height: 4px;
	border-radius: 100vh;
	background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(8px);
	width: 0;
	z-index: 10;
}

.jc-arrow {
	// display: none;
	// opacity: 0;
	width: 44px;
	font-size: 22px;
	// height: 44px;
	aspect-ratio: 1;
	position: absolute;
	top: 50%;
	margin-top: -22px;
	// background: rgba(255, 255, 255, 0.5);
	background: rgba(0,0,0, 0.5);
	color:#fff;
	transition: 0.4s ease;
	border-radius: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 5px;
	font-weight: bold;
	cursor: pointer;
	z-index: 4;

	&.outside {
		display: flex;
	}

	&:hover {
		// background-color: #1F8CF1;
		// color: #fff;
		background-color: #000
	}
}

.jc-carousel:hover {
	.jс-arrow.inside {
		display: flex;
		opacity: 1;
	}
}

.jс-prev {
	&.inside {
		left: 20px;
	}

	&.outside {
		left: -64px;
	}
}

.jc-next {
	&.inside {
		right: 20px;
	}

	&.outside {
		right: -64px;
	}
}

.jc-pause-play {
	position: absolute;
	bottom: 8px;
	right: 8px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s;
	display: flex;
	align-items: center;
	border-radius: 20px;
	z-index: 10;

	&:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	.jc-pause-icon {
		font-size: 18px;
		font-weight: bold;
		margin-right: 5px;
	}

	span {
		white-space: nowrap;
	}
}

@media screen and (max-width: 989px) {
	.jс-carousel {
		height: 320px;
	}
}

@media screen and (min-width: 767px) {
	.jс-description {
		left: auto;
		right: auto;
	}
}