// .icon-picker-box {
//     position: absolute;
//     left: 0;
//     top: 100%;
//     margin-top: 10px;
//     background: #fff;
//     border-radius: 8px;
//     -webkit-box-shadow: 0px 0px 0px 3px #A0A0A0, inset 1px 1px 2px 2px rgba(0, 0, 0, 0);
//     box-shadow: 0px 0px 0px 3px #A0A0A0, inset 1px 1px 2px 2px rgba(0, 0, 0, 0);
//     display: none;
//     z-index: 10001;
//     // padding: 20px;
//     header {
//         border-bottom: 1px solid #6e6e77;
//         // margin-bottom: 20px;
//         padding: 10px;
//         .j-close{
//             transition: all 0.5s;
//             &:hover{
//                color: #f00; 
//             }
//         }
//     }
//     ul{
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         gap: 3px;
//         margin-top: 0;
//         padding: 10px;
//         max-height: 400px;
//         overflow-y: auto;
//         .icon-item{
//             width: 40px;
//             aspect-ratio: 1;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             background: #e6f2ff;
//             border-radius: 5px;
//             color:#003366; 
//             cursor: pointer;
//             transition: all 0.5s;
//             &:hover{
//                 background: #b3d9ff;
//                 color:#000;
//             }
//         }
//     }
// }

.modal-bg-transparent{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
.j-close{
    cursor: pointer;
}