.j-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}

*+.j-table {
    margin-top: 20px;
}


.j-table-middle {
    tr{
        th:nth-child(1) {
            width: 1px;
           } 
        th:nth-child(2) {
            width: 150px;
           } 
        th:nth-child(3),
        th:nth-child(4),
        th:nth-child(5),
        th:nth-child(6),
        th:nth-child(7)
         {
            width: 1px;
           } 
    }
}
.j-table th {
    padding: 16px 12px;
    text-align: left;
    vertical-align: bottom;
    font-size: 0.875rem;
    font-weight: normal;
    color: #27303f;
    text-transform: uppercase;
}

.j-table td {
    padding: 16px 12px;
    vertical-align: top;
}

.j-table td> :last-child {
    margin-bottom: 0;
}

.j-table tfoot {
    font-size: 0.875rem;
}

.j-table caption {
    font-size: 0.875rem;
    text-align: left;
    color: #999;
}


.j-table-divider>tr:not(:first-child),
.j-table-divider> :not(:first-child)>tr,
.j-table-divider> :first-child>tr:not(:first-child) {
    border-top: 1px solid #e5e5e5;
}

.j-table-striped>tr:nth-of-type(odd),
.j-table-striped tbody tr:nth-of-type(odd) {
    background: #f8f8f8;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.j-table-hover>tr:hover,
.j-table-hover tbody tr:hover {
    background: #ffd;
}

.j-table>tr.j-active,
.j-table tbody tr.j-active {
    background: #ffd;
}

.j-table-small th,
.j-table-small td {
    padding: 10px 12px;
}

.j-table-large th,
.j-table-large td {
    padding: 22px 12px;
}

.j-table-justify th:first-child,
.j-table-justify td:first-child {
    padding-left: 0;
}

.j-table-justify th:last-child,
.j-table-justify td:last-child {
    padding-right: 0;
}

.j-table-shrink {
    width: 1px;
}

.j-table-expand {
    min-width: 150px;
}

.j-table-link {
    padding: 0 !important;
}

.j-table-link>a {
    display: block;
    padding: 16px 12px;
}

.j-table-small .j-table-link>a {
    padding: 10px 12px;
}

@media (max-width: 959px) {

    .j-table-responsive,
    .j-table-responsive tbody,
    .j-table-responsive th,
    .j-table-responsive td,
    .j-table-responsive tr {
        display: block;
    }

    .j-table-responsive thead {
        display: none;
    }

    .j-table-responsive th,
    .j-table-responsive td {
        width: auto !important;
        max-width: none !important;
        min-width: 0 !important;
        overflow: visible !important;
        white-space: normal !important;
    }

    .j-table-responsive th:not(:first-child):not(.j-table-link),
    .j-table-responsive td:not(:first-child):not(.j-table-link),
    .j-table-responsive .j-table-link:not(:first-child)>a {
        padding-top: 5px !important;
    }

    .j-table-responsive th:not(:last-child):not(.j-table-link),
    .j-table-responsive td:not(:last-child):not(.j-table-link),
    .j-table-responsive .j-table-link:not(:last-child)>a {
        padding-bottom: 5px !important;
    }

    .j-table-justify.j-table-responsive th,
    .j-table-justify.j-table-responsive td {
        padding-left: 0;
        padding-right: 0;
    }
}

.j-table tbody tr {
    transition: background-color 0.1s linear;
}

.j-table-striped>tr:nth-of-type(even):last-child,
.j-table-striped tbody tr:nth-of-type(even):last-child {
    border-bottom: 1px solid #e5e5e5;
}