.j-tip {
    cursor: pointer;
    position: relative;

    &.tp-u {
        border-bottom: 1px dashed #00000040;
    }

    &.tp-a {
        display: inline-block;
        padding-right: 20px;
        &:after {
            position: absolute;
            left: 100%;
            margin-left: -18px;
            content: '*';
            font-size: 14px;
            font-weight: 600;
            width: 12px;
        }
    }
    .tp-l, .tp-d{
     
        font-size: 14px;
        position: absolute;
        padding: 6px 10px 10px;
        border-radius: 5px;  
        width: 200px;
        bottom: calc(100% + 5px);
        left: 0;
        box-sizing: border-box;  
        .el-close{
            position: absolute;
            top: 0;
            right: 0;
            width: 15px;
            height: 15px;
            color: #fff;
        }
        &.no-close:after{content:''}      
        // &:after{ 
        //     position: absolute;
        //     top: 0;
        //     right: 4px;
        //     content:'x';
        //     font-size: 13px;
        //     line-height: 13px;
        // }
        &.tip-down{ top: calc(100% + 5px); bottom:auto } 
    }
    .tp-d{
        background: #262930e8;
        color: #fff;
    }
    .tp-l{
        background: #f0f0f5;
        color: #000;
    }
}