$s: 12px;

[class^='jtt-'] {
    position: relative;
    z-index: 90;

    &:after {
        text-align: center;
        display: none;
        position: absolute;
        content: attr(data-tt);
        background: rgba(0, 0, 0, .9);
        padding: 7px;
        color: #fff;
        font-size: $s;
        line-height: $s;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        white-space: nowrap;
        z-index: 90;
        width: 100px;
    }

    &:hover:after {
        -webkit-animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
        animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
        display: block;
    }


}

//positions
.jtt-top-left:after {
    bottom: 100%;
    margin-bottom: 4px;
    left: 0;
}
.jtt-top-center:after {
    bottom: 100%;
    margin-bottom: 4px;
    left: 50%;
    margin-left: -50px;
}
.jtt-top-right:after {
    bottom: 100%;
    margin-bottom: 4px;
    right: 0;
}