
.picker-select {
    background: rgb(204, 213, 245);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 5px;
    cursor: pointer;
    transition: all ease 0.4s;

    &:hover {
        background: rgb(154, 164, 201);
    }
}

.picker-box {
    // width: 100%;
    height: 300px;
    overflow-y: auto;
    background: #fff;

    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;

        li {
            height: 30px;
            cursor: pointer;
            transition: all ease 0.4s;

            &:hover {
                transform: scale(0.95);
            }

        }
    }
}

ul.de-bg li {
    width: 9%;
    min-width: 9%;
}
ul.de-col li {
    width: 20%;
    // min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    // &.tx-white-alpha-2,
    // &.tx-white-alpha-4,
    // &.tx-white-alpha-6,
    // &.tx-white-alpha-8,
    // &.tx-white{
    //     background: #000;
    // }
    span{
        text-align: center;
    }
}
ul.de-col li[class*="tx-white"] {
    background: #444;
}
