    //position modificators
    
    .jet-form.d-inline-small {
        margin-top: 1rem;
        max-height: 250px;
        overflow-y: auto;
        box-sizing: $shadow;
        gap: 10px;
        border-radius: 4px;
        z-index: 999999999;
            padding: 10px;
            h3{
                margin-bottom: 10px;
            }

        .control-field {
            flex-direction: column;
            gap: 0.5rem;
            padding: 0;

            label {
                display: inline-flex;
                width: auto;
                font-size: 0.8rem;
            }
        }
    } 

    .jet-form.d-inline {
        margin-top: 1rem;
        max-height: 250px;
        overflow-y: auto;
        box-sizing: $shadow;
        z-index: 999999999;
        border-radius: 4px;

        .control-field {
            label {
                display: inline-flex;
                width: $label-bottom;
                min-width: $label-bottom;
            }
        }
    }  
    
    .jet-form.fixed-bottom {
        position: fixed;
        bottom: 0;
        left: 350px;
        right: 350px;
        max-height: 250px;
        overflow-y: auto;
        box-sizing: $shadow;
        z-index: 9999999999;

        .control-field {
            label {
                display: inline-flex;
                width: $label-bottom;
                min-width: $label-bottom;
            }
        }
    }