
.app-demo{
    .app-code{
        background: #000;
        color: #eee;
        padding: 1rem;
        position: relative;
        .copy-code{
            position: absolute;
            top: 5px;
            right: 15px;
            color: #fff;
            // font-size: 12px;
            cursor: pointer;
        }
        
    }
    .app-preview{
        background: #000;
        color: #eee;
        p{
            margin-top: 0;
            margin-block-start: 0;
        }
    }
    .app-tabs{
        display: flex;
    .app-tab{
        padding: 5px 20px;
        &.e-active{
        background: #000;
        color: #fff;
        -webkit-border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
border-radius: 5px 5px 0px 0px;
        }
    }

    }
}


.hl-tag { color: rgb(248, 207, 22); font-weight: bold; }
// .hl-attr { color: #777; }
.hl-p { color: #d1c4e9; font-weight: bold; }
.hl-e { color: #f3f70e; font-weight: bold; }
.copy-code { cursor: pointer; float: right; font-size: 12px; color: #888; }
.app-tab.e-active { font-weight: bold; }
.tab-preview, .tab-code { padding: 10px; }
//new
.hl-r { color: rgb(240, 127, 127); font-weight: bold; }
.hl-b { color: rgb(31, 138, 238); font-weight: bold; }
.hl-g { color: rgb(5, 240, 56); font-weight: bold; }
.hl-j { color: #64ffda; font-weight: bold; }
